body{
    height: 98.3vh;
    background-image: linear-gradient(to bottom right, #b5838d 20%, #e5989b 50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.botoes button+button{
    margin-left: 10px;
}
button{
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 25px;
    background-color: #6d6875 ;
    color: white;
    font-size: large;
    text-transform: uppercase;
    font-family: 'Signika Negative', sans-serif;
    align-items: center;
}
button:hover{
    height: 55px;
    width: 210px;
    font-size: x-large;
    transition: 0.2s;
    border: 1.5px solid #ffcdb2
}
input{
    background-color: transparent;
    border: none;
    height: 100px;
    width: 350px;
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: 'Signika Negative', sans-serif;
    color: white;
    outline-style: none;
    cursor: pointer;
    margin-inline: auto;
    padding:0 20px ;
    
}
input:hover{
    outline: 2px solid #ffcdb2;
    border-radius: 20px;
    background-color: #6d687569;
}
h1{
    color: white;
    font-family: 'Signika Negative', sans-serif;
    font-size: 60px;
    text-align: center;
    align-items: center;
}

